@import url("assets.css");
body{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}
.connection-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: top;
    width: 40%;
    max-width: 800px;
    height: auto;
    max-height: 800px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
}
.connection-panel h1{
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
}
.connection-panel h2{
    font-size: 1.2rem;
    color: #555;
    font-weight: lighter;
}
.connection-panel #register-header{
    display: none;
}
.connection-panel .toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #f1f1f1;
    border: 1px solid var(--border-color);
    width: 75%;
    border-radius: 20px;
    margin-top: 30px;
}
.connection-panel .toggle button{
    width: 50%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;   
}
.connection-panel .toggle .left{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: solid 1px #ccc;
}
.connection-panel .toggle .right{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: solid 1px #ccc;
}
.connection-panel .toggle .isSelect{
    background-image: linear-gradient(to right, var(--color1), var(--color2));
}
.connection-panel .toggle .isSelect button{
    color: white;
}
.connection-panel form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    width: 75%;
}
.connection-panel form input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 10px;
    margin-bottom: 20px;
}
.connection-panel form label {
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
    font-size: 0.8rem;
}
.connection-panel form .button {
    margin-top: 15px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
.connection-panel form .missPass{
    margin-top: 10px;
    font-size: 0.8rem;
    padding-top: 10px;
    padding-bottom: 40px;
}
#register-form{
    display: none;
}
.connection-panel form .names{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}
.connection-panel form .names label {
    width: 30%;
}
.connection-panel form .names input {
    width: 100%;
}
.connection-panel form .names .field {
    display: flex;
    flex-direction: column;
    width: 45%; 
}